



































/* Medias Queries */

@media screen and (min-width: 992px) {


  .header {
    position: static;
    height: auto;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .header label {
    display: none;
  }

  header .header-top {
    display: block;
    width: 100%;
    border-bottom: 1px solid #F9AA01;
  }

  .header-top-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  header .header-top span {
    margin-right: 40px;
    font-size: .8rem;
    /* border: 1px solid white; */
  }

  header .header-top span img {
    margin-right: 10px;
  }

  header .header-top .social-box {
    margin-right: 0;
  }


  header .header-bottom {
    padding: 10px 0;
  }

  /* Menu */
  header .nav-bkg {
    position: static;
    /* justify-content: space-between; */
    width: 30%;
    height: auto;
    padding: 0;
    background-image: none;
    /* border: 1px solid red; */
  }

  header .nav-bkg nav {
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
  }

  .header nav a {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    /* border: 1px solid greenyellow; */
  }


  .header nav a.phone-box,
  .header nav a.mail-box {
    display: none;
  }

  .header nav a:hover {
    background-color: transparent;
    color: #F9AA01;
  }

  /* .header nav .social-box {
    position: static;
    
    border: 1px solid yellow;
} */
  .header nav .social-box {
    display: none;
  }

  header .icons-header-bkg {
    position: static;
    width: auto;
    height: auto;
    background-image: none;
  }


  header .icons-header {
    height: auto;
    flex-direction: revert;
    width: 100px;
    padding: 10px;
    background-image: none;
    /* border: 1px solid red; */
  }



}