/* _content/ProjetoGamer/Views/Shared/_Layout.cshtml.rz.scp.css */




































/* Medias Queries */

@media screen and (min-width: 992px) {


  .header[b-mq2gcuxovo] {
    position: static;
    height: auto;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }

  .header label[b-mq2gcuxovo] {
    display: none;
  }

  header .header-top[b-mq2gcuxovo] {
    display: block;
    width: 100%;
    border-bottom: 1px solid #F9AA01;
  }

  .header-top-flex[b-mq2gcuxovo] {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  header .header-top span[b-mq2gcuxovo] {
    margin-right: 40px;
    font-size: .8rem;
    /* border: 1px solid white; */
  }

  header .header-top span img[b-mq2gcuxovo] {
    margin-right: 10px;
  }

  header .header-top .social-box[b-mq2gcuxovo] {
    margin-right: 0;
  }


  header .header-bottom[b-mq2gcuxovo] {
    padding: 10px 0;
  }

  /* Menu */
  header .nav-bkg[b-mq2gcuxovo] {
    position: static;
    /* justify-content: space-between; */
    width: 30%;
    height: auto;
    padding: 0;
    background-image: none;
    /* border: 1px solid red; */
  }

  header .nav-bkg nav[b-mq2gcuxovo] {
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid white; */
  }

  .header nav a[b-mq2gcuxovo] {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    /* border: 1px solid greenyellow; */
  }


  .header nav a.phone-box[b-mq2gcuxovo],
  .header nav a.mail-box[b-mq2gcuxovo] {
    display: none;
  }

  .header nav a:hover[b-mq2gcuxovo] {
    background-color: transparent;
    color: #F9AA01;
  }

  /* .header nav .social-box {
    position: static;
    
    border: 1px solid yellow;
} */
  .header nav .social-box[b-mq2gcuxovo] {
    display: none;
  }

  header .icons-header-bkg[b-mq2gcuxovo] {
    position: static;
    width: auto;
    height: auto;
    background-image: none;
  }


  header .icons-header[b-mq2gcuxovo] {
    height: auto;
    flex-direction: revert;
    width: 100px;
    padding: 10px;
    background-image: none;
    /* border: 1px solid red; */
  }



}
